/* * login centrado */

.centrar-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* * background login-wrapper */

.form-container {
    background: linear-gradient(45deg, rgba(0, 145, 183, 0.9), rgba(1, 73, 105, 0.9));
}


/* * color del h2 */

h2 {
    color: #fff;
}

/* * btn two transparent para el login */

.btn.btn-two-transparent{
    border-color: white;
    color: white;
}

/* * MD */

@media(min-width: 768px) {
    /**/
}


/* * LG */

@media(min-width: 1024px) {
    /**/
    /* * background login-wrapper lg */
    .form-container {
        min-height: 100vh;
        align-items: center;
    }
    /* *color del h2 en laptop */
    h2 {
        color: #222;
    }
    .centrar-form {
        overflow: hidden;
        padding: 0;
    }
    .form-image-container {
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        overflow: hidden;
    }
    .form-image-container img {
        height: 20rem;
        object-fit: cover;
        width: 100%;
    }
    form {
        box-shadow: 0 0 0 1px #ccc inset;
        height: 20rem;
        padding: 0;
        background: #fff;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: .5rem;
    }
    /* * ingresar btn lg*/
    .ingresarBtn {
        margin-left: 1px;
    }

    /* * btn two transparent para el login para desktop */
    .btn.btn-two-transparent{
        border-color: var(--color-two);
        color: var(--color-one);
    }
}


/* * XL */

@media(min-width: 1200px) {
    /**/
    .ingresarBtn {
        margin-left: 1.5rem;
    }
}