/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/database/seeds/UserSeeder.php
/database/seeds/ExamSeeder.php
/database/seeds/CandidateSeeder.php
/database/seeds/EvaluationSeeder.php