* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    /* * Given colors. */
    --color-one: #014969;
    --color-two: #0091B7;
    --color-three: #757DA4;
    --color-four: #8B9999;
    --color-five: #79A786;
    --color-six: #CEA574;
    --color-seven: #CA574B;
    /* * Help colors. */
    --color-eight: #222;
    --color-nine: #ddd;
    --color-ten: #bbb;
    /* * Given fonts. */
    --font-one: 'sans-serif';
    --font-two: 'calibri';
    /* * Help fonts. */
    --font-three: 'sans-serif';
    --font-four: 'calibri';
}

/* * MD */
@media(min-width: 768px) {
    /**/
}

/* * LG */
@media(min-width: 1024px) {
    /**/
}

/* * XL */
@media(min-width: 1200px) {
    /**/
}