@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 var(--color-one);
	}50%{
        box-shadow: 0 0 0 2px var(--color-one);
	}100%{
        box-shadow: 0 0 0 0 var(--color-one);
	}
}

@keyframes lock{
    0%{
        transform: rotateZ(-15deg);
	}50%{
        transform: rotateZ(15deg);
	}100%{
        transform: rotateZ(-15deg);
	}
}

/* * MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    /**/
}

/* XL */
@media(min-width: 1200px){
    /**/
}