.background.background-one {
    background-color: var(--color-one);
}

.background.background-two {
    background-color: var(--color-two);
}

.background.background-three {
    background-color: var(--color-three);
}

.background.background-four {
    background-color: var(--color-four);
}

.background.background-five {
    background-color: var(--color-five);
}

.background.background-six {
    background-color: var(--color-six);
}


/* * MD */

@media(min-width: 768px) {
    /**/
}


/* LG */

@media(min-width: 1024px) {
    /**/
}


/* XL */

@media(min-width: 1200px) {
    /**/
}