.background.background-one {
    background-color: var(--color-one);
}

.background.background-two {
    background-color: var(--color-two);
}

.background.background-three {
    background-color: var(--color-three);
}

.background.background-four {
    background-color: var(--color-four);
}

.background.background-five {
    background-color: var(--color-five);
}

.background.background-six {
    background-color: var(--color-six);
}

.background.background-seven {
    background-color: var(--color-seven);
}

.background.background-linear {
    background-image: linear-gradient(45deg, #0B5F83, #004D64);
}

.background.background-auth {
    position: relative;
    background: url('../../img/recursos/background/auth.jpg') no-repeat center center;
    background-size: cover;
}

.background.background-auth::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    background-color: var(--color-one);
}

/* * MD */

@media(min-width: 768px) {
    .background.background-auth {
        background-size: 130%;
    }
}


/* LG */

@media(min-width: 1024px) {
    /**/
}


/* XL */

@media(min-width: 1200px) {
    /**/
}