.btn {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 41px;
    text-align: center;
    text-decoration: none;
    transition: .17s ease-in-out;
    transition-property: color, background-color, background-position, border-color, box-shadow;
    font-family: 'Open Sans';
    font-weight: 100;
    font-style: normal;
    background-origin: border-box;
    background-size: 200%;
    background-position-x: 100%;
}

.btn:hover {
    /* animation: pulse infinite 1500ms; */
    background-position-x: 0;
}

.btn.btn-one {
    background-color: transparent;
    color: rgba(250,250,250,.95);
    border: 2px solid var(--color-one);
    background-image: linear-gradient(90deg,transparent 50%,var(--color-one) 50%);
}
.btn.btn-one:hover {
    background-color: transparent;
    color: var(--color-one);
    border-color: var(--color-one);
    background-image: linear-gradient(90deg,transparent 50%,var(--color-one) 50%);
}

.btn.btn-two {
    background-color: transparent;
    color: rgba(250,250,250,.95);
    border: 2px solid var(--color-two);
    background-image: linear-gradient(90deg,transparent 50%,var(--color-two) 50%);
}
.btn.btn-two:hover {
    background-color: transparent;
    color: var(--color-two);
    border-color: var(--color-two);
    background-image: linear-gradient(90deg,transparent 50%,var(--color-two) 50%);
}

.btn.btn-two-transparent{
    background-color: transparent;
    color: var(--color-one);
    border: 2px solid var(--color-two);
    background-image: linear-gradient(90deg,var(--color-two) 50%,transparent 50%);
}
.btn.btn-two-transparent:hover{
    background-color: transparent;
    color: rgba(250,250,250,.95);
    border-color: var(--color-two);
    background-image: linear-gradient(90deg,var(--color-two) 50%,transparent 50%);
}

.btn.btn-seven{
    background-color: transparent;
    color: rgba(250,250,250,.95);
    border: 2px solid var(--color-seven);
    background-image: linear-gradient(90deg,transparent 50%,var(--color-seven) 50%);
}
.btn.btn-seven:hover {
    background-color: transparent;
    color: var(--color-seven);
    border-color: var(--color-seven);
    background-image: linear-gradient(90deg,transparent 50%,var(--color-seven) 50%);
}

.btn.btn-nine-transparent{
    background-color: transparent;
    color: var(--color-nine);
    border: 2px solid var(--color-nine);
    background-image: linear-gradient(90deg,var(--color-nine) 50%,transparent 50%);
}
.btn.btn-nine-transparent:focus,
.btn.btn-nine-transparent:hover{
    background-color: transparent;
    color: var(--color-eight);
    border-color: var(--color-nine);
    background-image: linear-gradient(90deg,var(--color-nine) 50%,transparent 50%);
}

/* * MD */
@media(min-width: 768px) {
    /**/
}
/* LG */
@media(min-width: 1024px) {
    /**/
}
/* XL */
@media(min-width: 1200px) {
    /**/
}