.dropdown {
    --dropdown-color-one: var(--color-one); /* * Titles */
    --dropdown-color-one-alternative: var(--color-one); /* * Titles efects */
    --dropdown-color-two: var(--color-three); /* * Buttons */
    --dropdown-color-two-alternative: var(--color-four); /* * Buttons effects */
    --dropdown-color-three: #fff; /* * Background */
    --dropdown-color-three-alternative: #fff; /* * Background efects */
    --dropdown-color-four: var(--color-eight); /* * Borders efects */
    --dropdown-color-four-alternative: var(--color-nine); /* * Borders efects */
    --dropdown-color-five: var(--color-ten); /* * Icons */
    --dropdown-color-five-alternative: var(--color-eleven); /* * Icons efects */
    background-color: #fff;
    box-shadow: 4px 5px 9px 1px rgba(0, 0, 0, 0.3);
}

.dropdown-header {
    width: 100%;
}


/* * MD */

@media(min-width: 768px) {
    /**/
}


/* LG */

@media(min-width: 1024px) {
    /**/
}


/* XL */

@media(min-width: 1200px) {
    /**/
}