.floating-menu {
    position: absolute;
    display: flex;
    align-items: center;
    height: 4.6rem;
    --floatingmenu-color-one: var(--color-one);
    --floatingmenu-color-two: #fff;
    width: calc(((100% - 83.3333333333%) / 2 + 1rem));
    justify-content: center;
}

.floating-menu .floating-button {
    border-radius: 50%;
}

/* * MD */
@media (min-width: 768px) {
    /**/
}

/* * LG */
@media (min-width: 1024px) {
    .floating-menu {
        position: fixed;
    }
}


/* * XL */
@media (min-width: 1200px) {
    /**/
}
