.dropdown,
.nav-menu,
.sidebar{
    --color-one: var(--color-tres); /* * Titles */
    --color-two: var(--color-uno); /* * Buttons */
    --color-two-alternative: var(--color-dos); /* * Buttons efects */
    --color-three: var(--color-cuatro); /* * Background */
    --color-three-alternative: var(--color-cuatro); /* * Background efects */
    --color-four: var(--color-dos); /* * Borders efects */
    --color-four-alternative: var(--color-dos); /* * Borders efects */
    --color-five: var(--color-tres); /* * Icons */
    --color-five-alternative: var(--color-tres); /* * Icons efects */
}

.sidebar .sidebar-header{
    background-color: var(--color-cuatro);
    border: none;
}

#tab .dropdown .dropdown .dropdown-title{
    padding: 0 .75rem;
}

#tab .dropdown .dropdown .dropdown-title{
    padding: 0 .75rem;
}

#tab .dropdown .dropdown .dropdown-link{
    padding: 0 1.25rem;
}

#tab .dropdown .dropdown-menu-list{
    background-color: var(--color-cuatro);
    background-color: rgba(235, 244, 255, var(--bg-opacity));
}

#tab .dropdown .dropdown-menu-list .dropdown-menu-list{
    --bg-opacity: 1;
    background-color: #c3dafe;
    background-color: rgba(195, 218, 254, var(--bg-opacity));
}

#tab .dropdown .dropdown .dropdown-title{
    background-color: var(--color-cuatro);
}

.sidebar .sidebar-content .sidebar-menu-list li li:last-of-type{
    padding-bottom: 1rem;
}

.sidebar .sidebar-content .sidebar-menu-list li.opened,
.sidebar .sidebar-content .sidebar-menu-list li li.opened{
    padding-bottom: 0;
}

/* * MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    /**/
}

/* XL */
@media(min-width: 1200px){
    /**/
}