.tab-menu {
    --tabmenu-title-color: #222;
    --tabmenu-button-color: var(--color-one);
    --tabmenu-button-color-alternative: var(--color-two);
    --tabmenu-background-color: #fff;
    --tabmenu-background-color-alternative: #fff;
    --tabmenu-border-color: #ddd;
    --tabmenu-border-color-alternative: #ddd;
    --tabmenu-icon-color: #ddd;
    --tabmenu-icon-color-alternative: #ddd;
    --tabmenu-shadow-color: #32B1DA;
}

.tab-menu.horizontal .tabs {
    padding-left: calc(((100% - 83.3333333333%) / 2 + 1rem));
}

.tab-menu.vertical .tab-header.logo h1{
    font-size: 0;
}

.tab-menu.vertical .tabs .tab-menu-list .tab .tab-button {
    width: 50%;
    min-height: 2.3rem;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0;
}

.tab-menu.vertical .tabs .tab-menu-list .tab .tab-button:hover {
    color: var(--color-eight);
}

.tab-menu .tabs .tab-menu-list .tab.active .tab-button.btn.btn-nine-transparent{
    background-color: var(--color-nine);
    color: var(--color-eight);
}

/* * MD */
@media (min-width: 768px) {
    /**/
}

/* * LG */
@media (min-width: 1024px) {
    .tab-menu.vertical .tabs{
        width: 20%;
    }
    
    .tab-menu.vertical .tab-content-list{
        width: 80%;
        max-height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}


/* * XL */
@media (min-width: 1200px) {
    /**/
}
