/* * nav menu */

.nav-menu{
    --navmenu-title-color: #fff;
    --navmenu-button-color: #fff;
    --navmenu-button-color-alternative: #ddd;
    --navmenu-background-color: var(--color-one);
    --navmenu-background-color-alternative: var(--color-one);
    --navmenu-border-color: #ddd;
    --navmenu-border-color-alternative: #ddd;
    --navmenu-icon-color: #ddd;
    --navmenu-icon-color-alternative: #888;
}

.sidebar{
    --sidebar-title-color: #222;
    --sidebar-button-color: #222;
    --sidebar-button-color-alternative: #000;
    --sidebar-background-color: #fff;
    --sidebar-background-color-alternative: var(--color-one);
    --sidebar-border-color: #ddd;
    --sidebar-border-color-alternative: #ddd;
    --sidebar-icon-color: #ddd;
    --sidebar-icon-color-alternative: #ddd;
}

body {
    min-height: 100vh;
}

.nav-menu {
    --navmenu-color-two: #fff;
    /* * Buttons */
    --navmenu-color-one: #fff;
    /* * titles */
    --navmenu-color-three: transparent;
    /* * Background */
    background-image: linear-gradient(45deg, rgba(0, 145, 183, 0.9), rgba(1, 73, 105, 0.9));
}


/* resaltado de las consignas */

strong{
    font-weight: 100;
    color: var(--color-two);
}

/* ? PRIMERA CONSIGNA */

.dropdown{
    z-index: 1;
}

.dropdown-menu-content header h2 {
    line-height: 1.5rem;
}

.dropdown-header {
    white-space: break-spaces;
    font-size: 1.3rem;
}


/* * bg mark del highlight */

.dropdown .dropdown-header span mark {
    padding: 0;
    margin-left: .5rem;
    background: none;
    color: var(--color-two);
}

/* * pistas sueltas */

.answer-words li {
    display: inline;
    font-size: 1rem;
}

.answer-words li.crossed {
    text-decoration: line-through;
}


/* ? SEGUNDA CONSIGNA */

/* * parrafono a completar */

.second-question-container p {
    font-size: 1.1rem;
}

/* * parte remarcada del parrafono */
.second-question-container strong {
    color: var(--color-two);
    font-weight: 100;
}

/* ? TERCERA CONSIGNA */

/* ? CUARTA CONSIGNA */

.input-one-question-four[value]{
    color: var(--color-two);
    text-align: center;
}

/* ? SEXTA CONSIGAN */

/* * sangria del textarea */

.my-friend{
    /* left: .5rem; */
    position: absolute;
    left: calc(15px + .2rem);
    line-height: 2rem;
    font-size: 1rem;
    color: var(--color-two);
}

.fifth-question-container textarea{
    /* width: 20rem; */
    /* text-indent: 5rem; */
    outline: none;
    resize: none;
    width: 100%;
    height: 10rem;
    line-height: 1.9rem;
    text-indent: 4.5rem;
}

textarea{
    color: var(--color-two);
}

/* * card */

.card{
    border: none;
}

/* ? LISTENING MODULE */

/* color de fondo de los inputs en listening */

.question-listening input{
    background-color: transparent;
    text-align: center;
    color: var(--color-two);

}

/* tabla question 3 */

.table-question-3{
    width: 60%;
    margin: auto;
    margin-bottom: 3rem;
}

/* borde del th */

.question-listening table th{
         border: 1px solid #ccc;
}

/* borde del td */

.first-question-container table td{
    border: 1px solid #ccc;
}

/* tamaño de los iconos */

.face-icons{
    font-size: 2rem;
}

/* * inputs */

.input {
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    width: 2rem;
    color: var(--color-two);
    border-bottom: 1px solid #000;
    text-align: center;
}

.input-underline{
    border: none;
    position: relative;
    letter-spacing: .3rem;
}

.underlines{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.underlines .underline{
    height: 1px;
    background-color: var(--color-one);
    margin-right: .25rem;
}

.input-medium {
    width: 4rem;
}

.input-long {
    outline: none;
    border: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid var(--color-one);
    width: 100%;
}

.input:not(.input-letters):focus {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-one);
}

/* * MD */

@media(min-width: 768px) {
    .fifth-question-container textarea{
        /* width: 40rem; */
        height: 13rem;
    }

    .questions > .row {
        width: 100%;
        margin: 0;
    }
}

/* * LG */

@media(min-width: 1024px) {
    /* * ancho por defecto en lg */
    .card-min-width{
        min-width: 19%;
    }

    

    .fifth-question-container textarea{
        /* width: 50rem; */
        height: 13rem;
    }

    /* ? tabla consigna 3 listening */

    .table-question-3{
        width: 60%;
        margin: auto;
        margin-bottom: 3rem;
    }
    
    .table-question-3 th{
        border: 1px solid #ccc;
    }
}


/* * XL */

@media(min-width: 1200px) {
    /**/
}
