body {
    min-height: 100vh;
}

/* ? nav menu */
.nav-menu{
    --navmenu-title-color: #fff;
    --navmenu-button-color: #fff;
    --navmenu-button-color-alternative: #ddd;
    --navmenu-background-color: var(--color-one);
    --navmenu-background-color-alternative: var(--color-one);
    --navmenu-border-color: #ddd;
    --navmenu-border-color-alternative: #ddd;
    --navmenu-icon-color: #ddd;
    --navmenu-icon-color-alternative: #888;
}

.sidebar{
    --sidebar-title-color: #222;
    --sidebar-button-color: #222;
    --sidebar-button-color-alternative: #000;
    --sidebar-background-color: #fff;
    --sidebar-background-color-alternative: var(--color-one);
    --sidebar-border-color: #ddd;
    --sidebar-border-color-alternative: #ddd;
    --sidebar-icon-color: #ddd;
    --sidebar-icon-color-alternative: #ddd;
}

/* ? floating menu */
.floating-menu.left{
    left: 0;
}

/* ? tabmenu */
.tab-menu .tabs .tab-menu-list .tab {
    margin: 1rem 1rem 1rem 0;
}
.tab-menu .tabs .tab-menu-list .tab .tab-link {
    padding: 0 1rem;
    min-height: fit-content;
    border: 2px solid var(--color-nine);
    color: var(--color-nine);
    flex-wrap: nowrap;
}
.tab-menu .tabs .tab-menu-list .tab .tab-link.active {
    color: var(--color-one);
    border: 2px solid var(--color-one);
}
.tab-menu .tabs .tab-menu-list .tab .tab-link:hover:not(.active){
    color: var(--color-nine);
}
.tab-menu .tabs .tab-menu-list .tab .tab-link:not(.active) {
    /* pointer-events: none; */
    background: unset;
}
.tab-menu .tabs .tab-menu-list .tab:last-child button{
    white-space: nowrap;
    margin-right: calc(((100% - 83.3333333333%) / 2 + 1rem));
}

/* ? dropdowns */
.dropdown{
    z-index: 1;
}

.dropdown-menu-content header h2 {
    line-height: 1.5rem;
}

.dropdown-header {
    white-space: break-spaces;
    font-size: 1.3rem;
}

/* ? timer */
.clock{
    width: 1.5rem;
    height: 1.5rem;
    border-width: 2px;
    margin-left: .5rem;
    font-size: 1.75rem;
    display: none;
}

.second-hand{
	width:calc(1.5rem - 4px);
	height:calc(1.5rem - 4px);
}

.btn.active .clock{
    display: block;
}

.time{
    display: none;
    margin-left: .5rem;
}

.btn.active .time{
    display: block;
}

/* ? modales */
.modal-dialog{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .modal-content{
    /* left: 1.15rem; 
} */

.modal-confirm{
    max-width: 100%;
}

/* ? consignas */
.dropdown .dropdown-header span mark {
    padding: 0;
    margin-left: .5rem;
    background: none;
    color: var(--color-two);
}

/* ? A1 Entry Listening */

/* ? A1 Entry Writing */
.A1_Entry-W #dropdown-writing-5 .complete textarea {
    text-indent: 12.5rem;
}

/* ? A1 Access Listening */
.A1_Access-L #dropdown-listening-1.opened .dropdown-menu-content {
    max-height: 400vh;
}

.A1_Access-L #dropdown-listening-2.opened .dropdown-menu-content {
    max-height: 150vh;
}

.A1_Access-L #dropdown-listening-2 table thead th {
    border: 0;
}

.A1_Access-L #dropdown-listening-2 table th {
    padding: 0;
}

.A1_Access-L #dropdown-listening-2 table th .text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    width: fit-content;
    height: 3rem;
}

.A1_Access-L #dropdown-listening-2 table th div input {
    display: none;
}

.A1_Access-L #dropdown-listening-2 table th .empty,
.A1_Access-L #dropdown-listening-2 table td .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
}

.A1_Access-L #dropdown-listening-2 table td .empty {
    color: var(--color-two);
}

/* ? A1 Access Writing */
.A1_Access-L #dropdown-listening-1.opened .dropdown-menu-content {
    max-height: 120vh;
}

.A1_Access-W #dropdown-writing-1 table img {
    width: 8rem;
}

.A1_Access-W #dropdown-writing-1 table th div {
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.A1_Access-W #dropdown-writing-2 select {
    color: var(--color-two);
    background: transparent;
}

.A1_Access-W #dropdown-writing-2 .row-100 {
    height: 100%;
}

.A1_Access-W #dropdown-writing-2 textarea{
    text-indent: 13rem;
}

.A1_Access-W #dropdown-writing-3 select {
    color: var(--color-two);
    background: transparent;
}

.A1_Access-W #dropdown-writing-3 th[scope="row"]{
    width: 1rem;
}

/* ? A1 Achiever Listening */
.A1_Achiever-L #dropdown-listening-2 table td {
    padding: 0;
}

/* ? A1 Achiever Writing */
.A1_Achiever-W #dropdown-writing-4.opened .dropdown-menu-content {
    max-height: 350vh;
}

.A1_Achiever-W #dropdown-writing-4 textarea{
    text-indent: 14.5rem;
}

.A1_Achiever-W #dropdown-writing-4 textarea.last{
    text-indent: 17.5rem;
}

.A1_Achiever-W #dropdown-writing-4 .last textarea{
    text-indent: 17rem;
}

/* ? A2 Preliminary Listening */
.A2_Preliminary-L #dropdown-listening-1.opened .dropdown-menu-content {
    max-height: 120vh;
}

.A2_Preliminary-W #dropdown-writing-1.opened .dropdown-menu-content {
    max-height: 400vh;
}

.A2_Preliminary-L #dropdown-listening-1 input{
    display: none;
}

.A2_Preliminary-L #dropdown-listening-3 .dropdown-menu-content{
    background: url("/img/recursos/whatsapp-bg.jpg");
}

.A2_Preliminary-L #dropdown-listening-3 .complete textarea{
    border-radius: .25rem;
    background-color: #D3F9C8;
    color: #000;
}

.A2_Preliminary-L #dropdown-listening-3 .audio-button {
    background-color: #fff;
    color: #000;
}

.A2_Preliminary-L #dropdown-listening-3 .audio-button.playing {
    color: #7ebedd;
}

.A2_Preliminary-L #dropdown-listening-3 .audio-button .audio-icon {
    color: #727272;
}

/* ? A2 Preliminary Writing */

/* ? A2 Elementary Listening */
.A2_Elementary-L #dropdown-listening-1 table tbody th {
    width: 45%;
}

.A2_Elementary-L #dropdown-listening-3.opened .dropdown-menu-content {
    max-height: 220vh;
}

/* ? A2 Elementary Writing */

/* ? B1 Progres Listening */

/* ? B1 Progres Writing */

/* ? B2 Competency Listening */

/* ? B2 Competency Writing */

/* ? ejercicios */
.card{
    border: none;
}

.card .card-body{
    max-width: 100%;
}

.input {
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    width: 4rem;
    color: var(--color-two);
    text-align: center;
    border-bottom: 1px solid #222;
}

.input-small {
    position: relative;
    width: 1rem;
}

.input-small:not(:last-child) {
    margin-right: .25rem;
}

.input-small.first {
    margin-left: .5rem;
}

.input-small.last {
    margin-right: .5rem;
}

.input-medium {
    width: 4rem;
}

.input-long {
    width: 8rem;
}

.input-large {
    width: 14rem;
}

.input-huge {
    width: 18rem;
}

.input-super-huge {
    width: 24rem;
}

/* .input:not(.input-letters):focus {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-one);
} */

select {
    color: var(--color-two);
}

/* * info */
.info {
    background-color: #ededed;
    padding: 2rem 5rem;
    width: 80%;
    font-weight: bold;
    font-size: 1rem;
    font-style: italic;
}

.info .title {
    font-style: normal;
    font-weight: bolder;
    color: var(--color-one);
}

/* * lists */
.list-exercise.decimal li {
    list-style: decimal;
}

.list-data li {
    display: inline;
}

/* * crossed words */
.crossed {
    text-decoration: line-through;
}

/* * audio */
.audio-button {
    outline: none;
    border: 0;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    background-color: var(--color-one);
    color: #fff;
    min-width: 10rem;
}

.audio-button:focus {
    outline: none;
}

.audio-button.playing {
    background-color: var(--color-two);
    cursor: not-allowed;
}

.audio-button.finished {
    background-color: var(--color-four);
    min-width: 6rem;
}

.audio-button .audio-icon {
    color: #fff;
}

.audio-button.playing .audio-icon {
    display: none;
}

/* * complete */
.complete {
    line-height: 2rem;
}

.complete b {
    font-size: 1.1rem;
    margin-right: .5rem;
}

.complete input {
    line-height: normal;
}

.complete .indent{
    /* left: .5rem; */
    padding-left: 1rem;
    position: absolute;
    left: calc(15px + .2rem);
    line-height: 2rem;
    font-size: 1rem;
    color: var(--color-two);
}

.complete textarea {
    padding-left: 1.5rem !important;
    outline: none;
    resize: none;
    width: 100%;
    height: 10rem;
    line-height: 1.9rem;
    border-radius: .2rem;
    color: var(--color-two);
}

.complete .indent + textarea {
    text-indent: 4.5rem;
}

/* * options */
.options {
    cursor: pointer;
    color: var(--color-two);
}

/* * emojis */
.face-icons{
    font-size: 2rem;
}

/* * table */
.table-normal th, .table-normal td{
    border: 1px solid #dee2e6 !important;
}

.table-normal.borderless th, .table-normal.borderless td{
    border: none !important;
}

.A1_Entry-L #dropdown-listening-3 .table-normal,
.A1_Access-L #dropdown-listening-2 .table-normal,
.A2_Elementary-L #dropdown-listening-1 .table-normal {
    width: 60%;
}

.A1_Access-W #dropdown-writing-2 .table {
    width: 20%;
}

.A1_Access-L #dropdown-listening-2 .table-normal td {
    padding: 0;
}

/* * icon-checkbox */
.icon-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: 3rem;
    cursor: pointer;
    margin: 0;
}

.icon-checkbox .icon,
.icon-checkbox span {
    height: fit-content;
    transition: 500ms;
    color: var(--color-two);
}

.icon-checkbox input:not(.checked) + .icon{
    color: transparent;
}

/* * svg */

.svg-width{
    width: 100%;
}

.save-button.hidden{
    display: none;
}

.loading-dots::after{
    transform: translateX(-350%);
}

/* mostrar */

.show{
    display: block;
}

/* archiever */

.table-colors{
    width: 50%;
}

.box-colors{
    height: 3.4rem;
    width: 7rem;
    padding: 0 !important;
}

.box-colors label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* archiever listening */

.disabled{
    text-decoration: line-through;
}

.archiever-ul-3{
    display: inline;
}

.table-bordered td, th{
    width: 5rem;
}

/* input[type=checkbox]:checked{
    display:
} */

/* preliminary */

.inputs-border{
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.ul-width-44{
    width: 44%;
}

.hector-image{
    width: 100%;
    height: 20rem;
    object-fit: contain;
}

.table-noborders td{
    border: none !important;
}

.pre-inputs .input-one{
    width: 80%;
}
.pre-inputs .input-two{
    width: 80.5%
}
.pre-inputs .input-three{
    width: 75.6%;
}


/* * MD */

@media(min-width: 768px) {    
    .A1_Access-L #dropdown-listening-1.opened .dropdown-menu-content {
        max-height: 100vh;
    }
    
    .A1_Access-W #dropdown-writing-1 table img {
        width: 10rem;
    }

    .list-exercise li select {
        height: 2rem;
    }

    .questions > .row {
        width: 100%;
        margin: 0;
    }
    
    .tab-menu .tabs .tab-menu-list .tab:last-child {
        position: absolute;
        top: 0;
        right: 0;
    }

    .tab-menu .tabs .tab-menu-list .tab:last-child button{
        margin-right: 0;
    }


    .archiever-w-2 .input-one{
        width: 33rem;
    }
    .archiever-w-2 .input-two{
        width: 33.7rem;
    }
    .archiever-w-2 .input-three{
        width: 32.5rem;
    }
    .archiever-w-2 .input-four{
        width: 31rem;
    }
}

/* * LG */

@media(min-width: 1024px) {
    /* ? navmeun */
    .nav-menu {
        padding: 0 calc(((100% - 66.6666666667%) / 2 + 1rem));
    }

    /* ? A1 Access Listening */

    /* ? A1 Access Writing */
    .A1_Access-W #dropdown-writing-2.opened .dropdown-menu-content {
        max-height: 200vh;
    }

    .A1_Access-W #dropdown-writing-4 textarea{
        width: 32rem;
        height: 13rem;
    }

    /* ? A1 Achieve Writing */
    .A1_Achiever-W #dropdown-writing-4.opened .dropdown-menu-content {
        max-height: 150vh;
    }

    .A1_Achiever-W #dropdown-writing-4 textarea{
        width: 32rem;
        height: 13rem;
    }

    /* ? ejercicios */
    .card{
        min-width: 19%;
    }

    /* * complete */
    .h5,
    .complete {
        flex-basis: 55%;
    }

    .svg-width{
        width: 75%;
    }

    .four-question-container textarea{
        width: 50rem;
        height: 13rem;
    }

    .fifth-question-container .textarea-custom{
        padding-left: 10rem !important;
    }

    /* ? tabla consigna 3 listening */

    .table-question-3{
        width: 60%;
        margin: auto;
        margin-bottom: 3rem;
    }
    
    .table-question-3 th{
        border: 1px solid #ccc;
    }

    .first-question-container table td{
        border: 1px solid #ccc;
        padding: 1rem;
        text-align: center;
    }

    /* archiever */

    .archiever-w-2{
        background-color: #fff;
        width: 90%;
    }

   .archiever .table th, .table td{
       width: 10rem !important;
   }
}

/* * XL */

@media(min-width: 1200px) {
    /*  */
}

/* * XXL */

@media(min-width: 1400px) {
    .svg-width{
        width: 50%;
    }
}