.clock{
    width: 1.5rem;
    height: 1.5rem;
    border-width: 2px;
    margin-left: .5rem;
    font-size: 1.75rem;
    display: none;
}
.second-hand{
	width:calc(1.5rem - 4px);
	height:calc(1.5rem - 4px);
}

.btn.active .clock{
    display: block;
}

.time{
    display: none;
    margin-left: .5rem;
}

.btn.active .time{
    display: block;
}

/* * floating menu */
.floating-menu.left{
    left: 0;
}

/* * nav menu */

.nav-menu{
    --navmenu-title-color: #fff;
    --navmenu-button-color: #fff;
    --navmenu-button-color-alternative: #ddd;
    --navmenu-background-color: var(--color-one);
    --navmenu-background-color-alternative: var(--color-one);
    --navmenu-border-color: #ddd;
    --navmenu-border-color-alternative: #ddd;
    --navmenu-icon-color: #ddd;
    --navmenu-icon-color-alternative: #888;
}

.sidebar{
    --sidebar-title-color: #222;
    --sidebar-button-color: #222;
    --sidebar-button-color-alternative: #000;
    --sidebar-background-color: #fff;
    --sidebar-background-color-alternative: var(--color-one);
    --sidebar-border-color: #ddd;
    --sidebar-border-color-alternative: #ddd;
    --sidebar-icon-color: #ddd;
    --sidebar-icon-color-alternative: #ddd;
}

body {
    min-height: 100vh;
}

.nav-menu {
    --navmenu-color-two: #fff;
    /* * Buttons */
    --navmenu-color-one: #fff;
    /* * titles */
    --navmenu-color-three: transparent;
    /* * Background */
    background-color: var(--color-one);
}


/* resaltado de las consignas */

strong{
    font-weight: 100;
    color: var(--color-two);
}

/* ? ambos modules modal confirm */

.modal-dialog{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .modal-content{
    /* left: 1.15rem; 
} */

.modal-two{
    max-width: 100%;
}

.ol-decimal li {
    list-style-type: decimal;
}

.ol-decimal li select {
    width: 5rem;
    height: 3rem;
}

.ol-decimal li select:focus {
    outline: none;
}

.A1_Access-L #dropdown-listening-1.opened .dropdown-menu-content {
    max-height: 400vh;
}

.A1_Access-L #dropdown-listening-2.opened .dropdown-menu-content {
    max-height: 150vh;
}

.A1_Access-L #dropdown-listening-2 .dropdown-menu-content table thead th {
    border: 0;
}

.A1_Access-L #dropdown-listening-2 .dropdown-menu-content table th {
    padding: 0;
}

.A1_Access-L #dropdown-listening-2 .dropdown-menu-content table th .text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    width: fit-content;
    height: 3rem;
}

.A1_Access-L #dropdown-listening-2 .dropdown-menu-content table th div input {
    display: none;
}

.A1_Access-L #dropdown-listening-2 .dropdown-menu-content table th .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
}

.A1_Access-L #dropdown-listening-2 .dropdown-menu-content table th div label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    transition: 500ms;
    cursor: pointer;
    margin: 0;
}

.A1_Access-L #dropdown-listening-2 .dropdown-menu-content table th div input:not(.checked) + label {
    color: transparent;
}

.A1_Access-W #dropdown-writing-1 .dropdown-menu-content table img {
    width: 8rem;
}

.A1_Access-W #dropdown-writing-1 .dropdown-menu-content table th div {
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.A1_Access-W #dropdown-writing-2 .dropdown-menu-content select {
    color: var(--color-two);
    background: transparent;
}

.A1_Access-W #dropdown-writing-2 .dropdown-menu-content textarea{
    /* width: 20rem; */
    text-indent: 5rem;
    padding-left: 1.5rem !important;
    outline: none;
    resize: none;
    width: 100%;
    height: 10rem;
    line-height: 1.9rem;
    text-indent: 13rem;
    border-radius: .2rem;
}

.A1_Access-W #dropdown-writing-3 .dropdown-menu-content select {
    color: var(--color-two);
    background: transparent;
}

.A1_Access-W #dropdown-writing-4 .dropdown-menu-content textarea{
    /* width: 20rem; */
    padding-left: 1.5rem !important;
    outline: none;
    resize: none;
    width: 100%;
    height: 10rem;
    line-height: 1.9rem;
    border-radius: .2rem;
}

.A1_Achiever-W #dropdown-writing-4.opened .dropdown-menu-content {
    max-height: 350vh;
}

.A1_Achiever-W #dropdown-writing-4 .dropdown-menu-content textarea{
    /* width: 20rem; */
    text-indent: 5rem;
    padding-left: 1.5rem !important;
    outline: none;
    resize: none;
    width: 100%;
    height: 10rem;
    line-height: 1.9rem;
    text-indent: 14.5rem;
    border-radius: .2rem;
}

.A1_Achiever-W #dropdown-writing-4 .dropdown-menu-content .last textarea{
    text-indent: 17rem;
}

.table.borderless tr {
    border: none;
}

/* ? PRIMERA CONSIGNA */

.dropdown{
    z-index: 1;
}

.dropdown-menu-content header h2 {
    line-height: 1.5rem;
}

.dropdown-header {
    white-space: break-spaces;
    font-size: 1.3rem;
}


/* * bg mark del highlight */

.dropdown .dropdown-header span mark {
    padding: 0;
    margin-left: .5rem;
    background: none;
    color: var(--color-two);
}

/* * pistas sueltas */

.answer-words li {
    display: inline;
    font-size: 1rem;
}

.answer-words li.crossed {
    text-decoration: line-through;
}


/* ? SEGUNDA CONSIGNA */

/* * parrafono a completar */

.second-question-container p {
    font-size: 1.1rem;
}

/* * parte remarcada del parrafono */
.second-question-container strong {
    color: var(--color-two);
    font-weight: 100;
}

/* ? TERCERA CONSIGNA */

/* ? CUARTA CONSIGNA */

.input-one-question-four[value]{
    color: var(--color-two);
    text-align: center;
}

/* ? SEXTA CONSIGAN */

/* * sangria del textarea */

.my-friend{
    /* left: .5rem; */
    padding-left: 1rem;
    position: absolute;
    left: calc(15px + .2rem);
    line-height: 2rem;
    font-size: 1rem;
    color: var(--color-two);
}

.fifth-question-container textarea{
    /* width: 20rem; */
    /* text-indent: 5rem; */
    padding-left: 1.5rem !important;
    outline: none;
    resize: none;
    width: 100%;
    height: 10rem;
    line-height: 1.9rem;
    text-indent: 4.5rem;
    border-radius: .2rem;
}

textarea{
    color: var(--color-two);
}


/* * card */

.card{
    border: none;
}

/* ? LISTENING MODULE */

/* color de fondo de los inputs en listening */

.question-listening .second-question-container input{
    background-color: transparent;
    text-align: center;
    color: var(--color-two);

}

/* play button */

.audioBtn{
    outline: none;
    border: 0;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    background-color: var(--color-one);
    color: #fff;
    padding: .5rem 2rem;
}

.playing{
    background-color: var(--color-two);
}

.finished{
    background-color: var(--color-four);
}

.audioBtn:focus{
    outline: none;
}

/* play icon */

.play-icon{
    position: relative;
    left: 1.5rem;
    color: #fff;
}

/* tabla question 3 */

.table-question-3{
    width: 60%;
    margin: auto;
    margin-bottom: 3rem;
}

/* borde del th */

.question-listening table th{
    border: 1px solid #ccc;
    padding: 0 0 2rem 0;
    text-align: center;
    padding-top: 1rem;
}

.table th, .table td{
    border: 1px solid #dee2e6 !important;
}

/* borde del td */

.first-question-container table td{
    border: 1px solid #ccc;
    padding: 1rem 0 2rem 0;
    text-align: center;
}

/* tamaño de los iconos */

.face-icons{
    font-size: 2rem;
}

/* * inputs */

.input {
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    width: 2rem;
    color: var(--color-two);
    text-align: center;
    border-bottom: 1px solid #222;
}

.input-small {
    position: relative;
    width: 1rem;
}

.input-small:not(:last-child) {
    margin-right: .25rem;
}

.input-small.first {
    margin-left: .5rem;
}

.input-small.last {
    margin-right: .5rem;
}

.input-medium {
    width: 4rem;
}

.input-long {
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
}

.input:not(.input-letters):focus {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-one);
}

/* * tab */
.tab-menu .tabs .tab-menu-list .tab {
    margin: 1rem 1rem 1rem 0;
}
.tab-menu .tabs .tab-menu-list .tab .tab-link {
    padding: 0 1rem;
    min-height: fit-content;
    border: 2px solid var(--color-nine);
    color: var(--color-nine);
    flex-wrap: nowrap;
}
.tab-menu .tabs .tab-menu-list .tab .tab-link.active {
    color: var(--color-one);
    border: 2px solid var(--color-one);
}
.tab-menu .tabs .tab-menu-list .tab .tab-link:hover:not(.active){
    color: var(--color-nine);
}
.tab-menu .tabs .tab-menu-list .tab .tab-link:not(.active) {
    /* pointer-events: none; */
    background: unset;
}
.tab-menu .tabs .tab-menu-list .tab:last-child button{
    white-space: nowrap;
    margin-right: calc(((100% - 83.3333333333%) / 2 + 1rem));
}

/* mostrar */

.show{
    display: block;
}

/* svg */

.svg-width{
    width: 100%;
}

.save-button.hidden{
    display: none;
}

.loading-dots::after{
    transform: translateX(-350%);
}


/* archiever */

.bg-archiever-1{
    background-color: #ededed;
    padding: 2rem 5rem;
    width: 80%;
    margin: 2rem auto;
    font-weight: bold;
    font-size: 1rem;
    font-style: italic;
}

.table-colors{
    width: 50%;
}

.box-colors{
    height: 3.4rem;
    width: 7rem;
    padding: 0 !important;
}

.box-colors label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.archiever-w-2{
    width: 90%;
}

.archiever-w-2 .input-one{
    width: 16rem;
    color: #000;
}
.archiever-w-2 .input-two{
    width: 16.7rem;
    color: #000;
}
.archiever-w-2 .input-three{
    width: 15.5rem;
    color: #000;
}
.archiever-w-2 .input-four{
    width: 14rem;
    color: #000;
}


.archiever-w-3 .input{
    width: 7rem;
    color: #000;
    padding-left: 1rem;
}

.archiever-w-3{
    margin-left: 2rem;
}

.archiever-w-5 textarea{
    text-indent: 0;
}

.four-question-container textarea{
    background-color: #fafafad6;
    color: #000;
    padding-left: 1.5rem !important;
    outline: none;
    resize: none;
    width: 100%;
    height: 10rem;
    line-height: 1.9rem;
    text-indent: 4.5rem;
    border-radius: .2rem;
}


/* * MD */

@media(min-width: 768px) {
    .four-question-container textarea{
        /* width: 40rem; */
        background-color: #fafafad6;
        color: #000;
        height: 13rem;
    }
    
    .A1_Access-L #dropdown-listening-1.opened .dropdown-menu-content {
        max-height: 100vh;
    }
    
    .A1_Access-W #dropdown-writing-1 .dropdown-menu-content table img {
        width: 10rem;
    }

    .A1_Achiever-W #dropdown-writing-4 .dropdown-menu-content textarea{
        /* width: 20rem; */
        background-color: #fafafad6;
        color: #000;
        height: 13rem;
    }

    .A1_Access-W #dropdown-writing-4 .dropdown-menu-content textarea{
        /* width: 20rem; */
        background-color: #fafafad6;
        color: #000;
        height: 13rem;
    }

    .ol-decimal li select {
        height: 2rem;
    }

    .fifth-question-container textarea{
        /* width: 40rem; */
        background-color: #fafafad6;
        color: #000;
        height: 13rem;
    }

    .questions > .row {
        width: 100%;
        margin: 0;
    }
    
    .tab-menu .tabs .tab-menu-list .tab:last-child {
        position: absolute;
        top: 0;
        right: 0;
    }

    .tab-menu .tabs .tab-menu-list .tab:last-child button{
        margin-right: 0;
    }


    .archiever-w-2 .input-one{
        width: 33rem;
    }
    .archiever-w-2 .input-two{
        width: 33.7rem;
    }
    .archiever-w-2 .input-three{
        width: 32.5rem;
    }
    .archiever-w-2 .input-four{
        width: 31rem;
    }
}

/* * LG */

@media(min-width: 1024px) {
    .A1_Access-L #dropdown-listening-2 table {
        width: 60%;
    }

    .A1_Access-W #dropdown-writing-2.opened .dropdown-menu-content {
        max-height: 200vh;
    }

    .A1_Access-W #dropdown-writing-4 .dropdown-menu-content textarea{
        width: 32rem;
        height: 13rem;
    }

    .A1_Achiever-W #dropdown-writing-4.opened .dropdown-menu-content {
        max-height: 150vh;
    }

    .A1_Achiever-W #dropdown-writing-4 .dropdown-menu-content textarea{
        width: 32rem;
        height: 13rem;
    }

    .nav-menu {
        padding: 0 calc(((100% - 66.6666666667%) / 2 + 1rem));
    }

    /* * ancho por defecto en lg */
    .card-min-width{
        min-width: 19%;
    }

    .svg-width{
        width: 75%;
    }

    .four-question-container textarea{
        width: 50rem;
        height: 13rem;
    }

    .fifth-question-container textarea{
        /* width: 50rem; */
        height: 13rem;
    }

    .fifth-question-container .textarea-custom{
        padding-left: 10rem !important;
    }

    /* ? tabla consigna 3 listening */

    .table-question-3{
        width: 60%;
        margin: auto;
        margin-bottom: 3rem;
    }
    
    .table-question-3 th{
        border: 1px solid #ccc;
    }

    .first-question-container table td{
        border: 1px solid #ccc;
        padding: 1rem;
        text-align: center;
    }

    /* archiever */

    .archiever-w-2{
        background-color: #fff;
        width: 90%;
    }
}

/* * XL */

@media(min-width: 1200px) {
    /*  */
}

/* * XXL */

@media(min-width: 1400px) {
    .svg-width{
        width: 50%;
    }
}