.filter.filter-button.active,
.filter.filter-button:hover{
    background-color: var(--color-uno);
    color: var(--color-cuatro);
    padding-left: .5rem;
    transition: 500ms;
    outline: none;
}

.filter.filter-button.active span:last-child,
.filter.filter-button:hover span:last-child{
    background-color: var(--color-dos);
}

/* * MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    /**/
}

/* XL */
@media(min-width: 1200px){
    /**/
}