.custom-select,
.pregunta-3 {
    background-color: rgb(248, 248, 248);
    outline: none;
    padding-left: 4rem !important;
}

.custom-select:focus {
    background-color: rgb(248, 248, 248);
    outline: none;
    box-shadow: none;
}

.numeroDePregunta span {
    width: 20px;
    height: 20px;
    font-size: .8rem;
    position: absolute;
    top: 8px;
    right: 0;
    left: 18px;
    bottom: 0;
    z-index: 99;
}

.pregunta-3 {
    min-height: 20rem;
}

.pregunta-3 ol li {
    list-style-type: lower-alpha;
}

.pregunta-3 ol li::marker {
    font-weight: bold;
}

.pregunta-3 span {
    width: 20px;
    height: 20px;
    font-size: .8rem;
    position: absolute;
    top: 16px;
    right: 0;
    left: 18px;
    bottom: 0;
    z-index: 99;
}

.pregunta-3 ul,
li,
.letra {
    color: #3490dc;
}


/* * MD */

@media(min-width: 768px) {
    /**/
}


/* LG */

@media(min-width: 1024px) {
    /**/
}


/* XL */

@media(min-width: 1200px) {
    /**/
}