@import '../components/nav.css';
@import '../components/btns.css';

.tab-content-list{
    min-height: calc((100vh - 4.6rem) - 10rem);
}

.accesos-directos{
    background-color: var(--color-cuatro);
}

.stadistic,
.acceso-directo{
    display: inline-flex;
    border-radius: .25rem;
    transition: 500ms;
    font-size: .9rem;
    height: 8rem;
}

.acceso-directo{
    cursor: pointer;
}

.stadistic{
    color: var(--color-dos);
    background-color: var(--color-cuatro);
}

.stadistic:hover{
    color: var(--color-cuatro);
    background-color: var(--color-dos);
}

.stadistic:hover h3{
    color: var(--color-cuatro);
}

.acceso-directo{
    background-color: var(--color-tres);
    color: var(--color-cuatro);
}

.acceso-directo:hover{
    background-color: var(--color-cuatro);
    color: var(--color-tres);
}

.acceso-directo .icon{
    color: var(--color-cuatro);
}

.acceso-directo:hover .icon{
    color: var(--color-cautro);
}

/* * MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    /**/
}

/* XL */
@media(min-width: 1200px){
    .stadistics,
    .accesos-directos{
        padding-left: 15rem;
        padding-right: 15rem;
    }
}

/* XXL */
@media(min-width: 1400px){
    .stadistics,
    .accesos-directos{
        padding-left: 20rem;
        padding-right: 20rem;
    }
}

/* XXXL */
@media(min-width: 1700px){
    .stadistics,
    .accesos-directos{
        padding-left: 25rem;
        padding-right: 25rem;
    }
}